@import "../../assets/styles";

.title-services {
  font-weight: bolder !important;
  color: $warning;
  font-size: 37px !important;
  font-family: $gothamBlack !important;
}

.description-view-services {
  font-family: $gotham !important;
  font-size: 16px !important;
  width: 80% !important;
}

.campus-selection-title {
  font-weight: bolder !important;
  color: $primary;
  font-size: 20px !important;
  font-family: $gothamBlack !important;
}

.toggle-button {
  max-width: 30rem !important;
  width: 85% !important;
  border-color: black !important;
  color: gray;
  border-radius: 0% !important;
  padding: 0.6rem;
}

.box-academic-i {
  font-weight: bolder !important;
  color: $primary;
  font-size: 20px !important;
  font-family: $gothamBlack !important;
}

.first-row-title {
  display: flex;
  width: 100%;
  margin-top: 2rem !important;
  padding-left: 8px;
}

.form-first-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 1rem !important;
  padding-left: 8px;
}

.document-th-wrapper {
  display: flex;
  width: 100%;
  margin-bottom: 2rem !important;
}

.documents-th {
  font-weight: bolder !important;
  color: $secondary !important;
  font-size: 18px !important;
  font-family: $gothamBlack !important;
}

.actions-th {
  text-align: center;
  font-weight: bolder !important;
  color: $secondary !important;
  font-size: 18px !important;
  font-family: $gothamBlack !important;
}


.accordions-wrapper {
  width: 100% !important;
}