@import "../../assets/styles";

@mixin commonTextStyles {
  color: $white;
  font-weight: $heavy;
  font-family: title;
}

$primaryColor: #ff0000;
$placeholderColor: #999999;

.customTextField {
  border-color: $primary !important;

}

.recovery-container {
  height: 100%;

  .background-image {
    background: url("../../assets/recovery-pass.png");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    min-height: 75vh;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.container-recovey {
  display: flex;
  flex-direction: row;
  margin-top: 10% !important;
  margin-left: 10% !important;
  margin-bottom: 10% !important;
}

.title-recovery {
  font-weight: bolder !important;
  color: $warning;
  font-size: $textMedium !important;
}

.descriptions-recovery {
  width: 68% !important;
  margin-top: 1rem !important;
}

.box-recovery {
  margin-top: 1rem !important;
}

.box-buttons {
  margin-top: 10rem !important;
  padding-bottom: 10% !important;
}

.button-cancel {
  border-color: $primary !important;
  height: 48px !important;
  width: 40% !important;
  color: $primary !important;
}

.button-recover {
  margin-left: 1rem !important;
  background-color: $primary !important;
  height: 48px !important;
  width: 40% !important;
  color: white !important;
  font-weight: bold !important;
}