@import "../../assets/styles";

.wrapper {
  display: flex;
  background-color: pink;
  height: 100vh;
  padding-right: 0%;
}

.title {
  font-family: $gothamBlack !important;
  color: $warning;
}

.submit-button {
  background-color: $primary !important;
}

.img-profile-style {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  margin-bottom: 2rem;
}

.profiles-button {
  color: gray !important;
  border-color: gray !important;
  margin-top: 0.7rem !important;
  width: 10rem;
  height: 2.3rem;
}


.title-personal-information {
  font-family: $gothamBlack !important;
  color: $primary;
  font-size: 1.7rem !important;
  padding: 1.6rem 1rem 0rem !important;

}

.title-academic-information {
  font-family: $gothamBlack !important;
  color: $primary;
  font-size: 1.7rem !important;
  padding: 0.5rem 1rem 0rem !important;
}

.title-address-information {
  font-family: $gothamBlack !important;
  color: $primary;
}

.list-name {
  background-color: pink;
  padding-right: 3rem;
}


.submitButton {
  background-color: $primary !important;
  color: white !important;
}

.submitButton:disabled {
  opacity: 0.6;
}


.cancelButton {
  color: white !important;
}

// .box-buttons {
//   margin-top: 10rem !important;
//   padding-bottom: 10% !important;
// }


// .button-cancel {
//   border-color: $primary !important;
//   height: 40% !important;
//   width: 40% !important;
//   color: $primary !important;
// }


// .button-recover {
//   margin-left: 1rem !important;
//   background-color: $primary !important;
//   height: 40% !important;
//   width: 40% !important;
//   color: white !important;
//   font-weight: bold !important;
// }

// .submitButton {
//   background-color: $primary !important;
//   color: white !important;
// }

// .test {
//   background-color: red !important;
// }