@import "../../../../assets/styles";

.subtitle {
  font-weight: bolder !important;
  font-family: $gothamBlack;
  color: $warning;
}


.MuiBackdrop-root {
  opacity: 1 !important;
  /* Adjust the opacity value as needed */
}