@font-face {
  font-family: "Gotham-Black";
  src: url("./assets/fonts/Gotham-Black.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gotham-Medium";
  src: url("./assets/fonts/GothamMedium.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

#root {
  height: 100%;
}


html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.p {
  font-family: "Gotham-Medium" !important;
}

h6 {
  font-family: "Gotham-Medium" !important;
}

/* .css-11lq3yg-MuiGrid-root {
  display: flex;
  height: 100% !important;
  /* This makes the container inherit the height of its parent 
}*/

.main-container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.header-container {
  display: block;
}

.outlet-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: auto;
}

.footer-container {
  height: 10vh;
}

/* 
.css-mhc70k-MuiGrid-root {
  width: 100%;
  box-sizing: border-box
} */

.mt-1 {
  margin-top: 1rem !important;
}

.mt-2 {
  margin-top: 2rem !important;
}

.mb-1 {
  margin-bottom: 1rem !important;
}

.mb-2 {
  margin-bottom: 2rem !important;
}

.mr-1 {
  margin-right: 1rem !important;
}


.flex-center {
  display: flex;
  justify-content: center;
  text-align: center;
}


/* .css-1dujxgu-MuiGrid-root {
  width: 100% !important;
} */