@import "../../assets/styles/base/variables";

.footerContainer {
    display: flex;
    background-color: #333333;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    justify-content: center;
    font-size: 16px;
}

.footerTitle {
    font-weight: 700;
}

.horizontalLine {
    background-color: #686868 !important;
    height: 1px;
    border: none;
    margin: 16px 0;
    width: 100%;
}

.footerFirstContainer {
    padding-top: 4em;
    width: 100%;

}

.footerSecondContainer {
    padding-left: 20%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.footerSecondContainerText {
    font-size: 12px !important;
    font-family: 'Montserrat-Medium' !important;
    font-weight: light !important;
}