@import "../../../../assets/styles";

.title {
  font-weight: bolder !important;
  font-family: $gothamBlack;
  color: $warning;
}

.button {
  background-color: $primary !important;
  color: $tertiary-neutral !important;
}